body {
    margin: 0;
}

.pet_activities {
    font-family: "Courier New", Courier, monospace;
}

.images_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px; /* para separar una imagen de otra cuando uso display: flex*/
    padding: 24px 32px;
}

.images_container .pet_image {
    border-radius: 30px;
    /*aspect-ratio: 4/3;*/
    width: 100%;
    height: 260px;
    object-fit: cover;
    max-width: fit-content;
}

.navigation_list {
    display: none;
}

.text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pet_activities {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    color: #ed6436;
}
.closer_look {
    /* cambiar el nombre*/
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    color: black;
}

.button_view {
    height: auto;
    background-color: #ed6436;
    border-radius: 0 36px 36px;
    border: 1px solid #ed6436;
    padding: 16px 24px;
    margin: 40px;
    color: white;
}

.button_view:hover {
    background-color: white;
    color: #ed6436;
    border: 1px solid #ed6436;
    transition: all 50ms linear;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card:hover {
    background-color: black;
    transition: all 50ms linear;
} */

.card_text {
    z-index: 1;
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: 260px;
    object-fit: cover;
}

.card:hover .card_text {
    display: block;
    width: 260px;
    height: 350px;
    border: 0;
    opacity: 1;
}

.card_text_subtitle {
    display: flex;
    justify-content: center;
    padding-top: 110px;
    color: white;
}

.card_text_title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: white;
}

/*ORDENADOR*/

@media only screen and (min-width: 576px) {
    .images_container {
        flex-wrap: wrap;
        flex-direction: row; /*si no cabe se pasa a la siguiente linea*/
        justify-content: space-evenly;
        gap: 32px;
        padding: 24px 32px;
    }

    .navigation_list {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        width: 100%;
    }

    .images_container .pet_image {
        /*  width: 100%; /*solo cuando movil*/
        height: 350px;
        object-fit: cover;
        width: 260px;
        max-height: 800px;
        max-width: fit-content;
    }

    .navigation_bar {
        display: flex;
        box-shadow: 0 5px 5px lightgrey;
    }

    .navigation_list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 50px;
        height: 50px;
        flex: 1;
    }

    .first_item {
        flex: 1;
    }

    .list_items {
        display: flex;
        justify-content: center;
        font-family: "Courier New", Courier, monospace;
        color: black;
        padding: 10px;
    }

    .buy_button {
        height: auto;
        background-color: #ed6436;
        border-radius: 0 36px 36px;
        border: 1px solid #ed6436;
        padding: 16px 24px;
        margin-left: 10px;
        color: white;
    }
}
