body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

.main_title {
    text-align: center;
    font-size: 40px;
    color: black;
}

.main_subtitle {
    font-size: 20px;
    color: #ed6436;
    text-align: center;
}

.images_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
    padding: 24px 32px;
}

.images_container .pet_image {
    border-radius: 30px;
    width: 100%;
    height: 260px;
    object-fit: cover;
    max-width: fit-content;
}

.title_button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_view {
    height: auto;
    background-color: #ed6436;
    border-radius: 0 36px 36px;
    border: 1px solid #ed6436;
    padding: 16px 24px;
    margin: 20px;
    color: white;
}

.button_view:hover {
    background-color: white;
    color: #ed6436;
    border: 2px solid #ed6436;
    transition: all 50ms linear;
}

.buy_button {
    height: auto;
    background-color: white;
    border-radius: 0 36px 36px;
    border: 2px solid #ed6436;
    padding: 16px 24px;
    margin-left: 10px;
    margin-right: 40px;
    color: #ed6436;
    transition: all 50ms linear;
    display: none;
}

.buy_button:hover {
    background-color: #ed6436;
    color: white;
    border: 1px solid #ed6436;
    transition: all 50ms linear;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_text {
    z-index: 1;
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: 260px;
    object-fit: cover;
}

.card:hover .card_text {
    display: block;
    width: 260px;
    height: 350px;
    border: 0;
    opacity: 1;
}

.card_text_subtitle {
    display: flex;
    justify-content: center;
    padding-top: 110px;
    color: white;
}

.card_text_title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: white;
}

.navigation_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.logo {
    width: 30px;
    height: 30px;
}
.hamburger {
    width: 30px;
    height: 30px;
}

.list_items {
    display: none;
}

/*ORDENADOR*/

@media only screen and (min-width: 576px) {
    .images_container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 32px;
        padding: 24px 32px;
    }

    .images_container .pet_image {
        height: 350px;
        object-fit: cover;
        width: 260px;
        max-height: 800px;
        max-width: fit-content;
    }

    .navigation_list {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        width: 100%;
        font-weight: 600;
    }

    .buy_button {
        display: block;
    }

    .navigation_bar {
        display: flex;
        box-shadow: 0 5px 5px lightgrey;
    }

    .logo {
        width: 50px;
        height: 50px;
        flex: 1;
    }

    .hamburger {
        display: none;
    }

    .first_item {
        flex: 1;
    }

    .list_items {
        display: flex;
        justify-content: center;
        color: black;
        padding: 10px;
        text-decoration: none;
    }

    .list_items:hover {
        display: flex;
        justify-content: center;
        color: #ed6436;
        padding: 10px;
        text-decoration: underline;
    }

    .sutitle_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .main_subtitle {
        text-align: left;
        font-size: 20px;
        color: #ed6436;
        margin-left: 40px;
    }

    .main_title {
        text-align: left;
    }

    .button_view {
        height: auto;
        background-color: #ed6436;
        border-radius: 0 36px 36px;
        border: 2px solid #ed6436;
        padding: 16px 24px;
        color: white;
    }

    .title_button_container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 25px;
    }
}
